body{
    background-color: #6f6f6f;
    font-family: "Courier New";
}
pre {
    font-family: "Courier New";
}
header {
    background-color: #FEDE00;
    padding: 10px;
    margin: 10px;
    border: 1px solid black;
}

header img {
    float: left;
    margin: 20px 10px 0px 10px;
    height: 100px;
}
header h2 {
    color: #343434;
}

div#wrapper {
    margin: 10px;
}

aside {
    display: table-cell;
    vertical-align: top;
}

nav {
    margin: 0px 10px 0px 0px;
    top: 0px;
    background-color: #366996;
    border: 1px solid black;
    width: 200px;
}

nav ul {
    list-style-type: none;

    margin: 0px;
    padding: 15px 0px;
}

nav ul li {
    padding: 15px 15px;
}

nav ul li.active {
    border-right: 5px solid #000077;
}

nav ul a {
    text-decoration: none;
    color: #00003d;
    font-size: 24px;
}
#eredeti_oldal {
    float: right;
}

div#content {
    display: table-cell;
    width: 100%;
    background-color: #427358;
    padding: 15px;
    border: 1px solid black;
}


footer {
    margin: 10px;
    padding: 5px 20px;
    background-color: #57436c;
    border: 1px solid black;
    text-align: center;
}